

.label {
    font-size: 9px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
    letter-spacing: 0.095em;
    margin-bottom: 4px;
}


.scoreboard {
    background: white;
    margin-bottom: 8px;
    border-radius: 4px;
}
.scoreboard__container {
    padding: 16px;
}
.scoreboard__result {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scoreboard .scoreboard__result-home,
.scoreboard .scoreboard__result-away,
.scoreboard .scoreboard__result-separator {
    font-size: 26px;
}
.scoreboard .scoreboard__result-separator {
    margin: 0 8px;
    color: #6E6E6E;
}
.scoreboard__badge {
    width: 38px;
    height: 38px;
}
.scoreboard__badge img {
    height: 100%;
}
.scoreboard__teams {
    display: flex;
    justify-content: center;
}
.scoreboard__team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}
.scoreboard__team--align-right {
    flex-direction: row-reverse;
}
.scoreboard__team--align-right .scoreboard__name {
    text-align: right;
}
.scoreboard__team--align-left .scoreboard__name {
    text-align: left;
}
.scoreboard__name {
    display: block;
    width: 100px;
}
.scoreboard__nav {
    border-top: 1px solid #212121;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 16px;
    margin: 0;
}
.scoreboard__nav-el {
    list-style: none;
}
.scoreboard__nav-el.is-active a {
    color: #29BDDE;
    position: relative;
}
.scoreboard__nav-el.is-active a:after {
    display: block;
    height: 2px;
    width: 100%;
    content: "";
    background: #29BDDE;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.scoreboard__nav-el a {
    padding: 20px 16px;
    color: #6E6E6E;
    text-decoration: none;
    display: block;
    line-height: 0;
}
.scoreboard__basics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

